@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<select id="theme-selector">
  <option value="default">Default</option>
  <option value="dark">Dark mode</option>
</select>
